################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/aoc2021/day1/x64/Debug
/aoc2021/.vs/aoc2021/v17
/aoc2021/x64/Debug
/.vs
/aoc2021/day1/day1.vcxproj.user
/aoc2021/day2/x64/Debug
/aoc2021/input_lib/x64/Debug
/aoc2021/magic_enums/x64/Debug
/aoc2021/day3/x64/Debug
/aoc2021/day4/x64/Debug
/aoc2021/day5/x64/Debug
/aoc2021/day6/x64/Debug
/aoc2021/day7/x64/Debug
/aoc2021/day8/x64/Debug
/aoc2021/day9/x64/Debug
/aoc2021/day10/x64/Debug
/aoc2021/day11/x64/Debug
/aoc2021/day14/x64/Debug
/aoc2021/day13/x64/Debug
/aoc2021/day17/x64/Debug
/aoc2021/day16/x64/Debug
/aoc2021/day18/x64/Debug
/aoc2021/day15/x64/Debug
/aoc2021/day21/x64/Debug
