################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/aoc2021/day1/x64/Debug
/aoc2021/.vs/aoc2021/v17
/aoc2021/x64/Debug
